<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielecook.gist</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2EFDCC81-C843-4C86-BA24-21A210ED0594</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BEB5D7A-EBF1-4494-8126-2C42B934C2AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>78B3D890-4494-4AA6-A8C0-476140DBEF0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5BB7EA6-BF63-404E-99C5-3249101CD8D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9524867-33F5-4787-865B-81C66BD28334</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE8E5A2E-9AB1-443B-8A89-A23688389B7A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Show large type of snippet</string>
			</dict>
		</array>
		<key>D8D3769A-EA94-498E-9729-3DF921080455</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EFDCC81-C843-4C86-BA24-21A210ED0594</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel E. Cook</string>
	<key>description</key>
	<string>Search gists on github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B5BB7EA6-BF63-404E-99C5-3249101CD8D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>gg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python gist.py "{query}"</string>
				<key>title</key>
				<string>Search code snippets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78B3D890-4494-4AA6-A8C0-476140DBEF0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>python set_info.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2EFDCC81-C843-4C86-BA24-21A210ED0594</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gg_set</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python gg_set.py "{query}"</string>
				<key>title</key>
				<string>Set username / personal access token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D8D3769A-EA94-498E-9729-3DF921080455</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C9524867-33F5-4787-865B-81C66BD28334</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>EE8E5A2E-9AB1-443B-8A89-A23688389B7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Set username/token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7BEB5D7A-EBF1-4494-8126-2C42B934C2AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2EFDCC81-C843-4C86-BA24-21A210ED0594</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>78B3D890-4494-4AA6-A8C0-476140DBEF0C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7BEB5D7A-EBF1-4494-8126-2C42B934C2AA</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>B5BB7EA6-BF63-404E-99C5-3249101CD8D0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C9524867-33F5-4787-865B-81C66BD28334</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D8D3769A-EA94-498E-9729-3DF921080455</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>EE8E5A2E-9AB1-443B-8A89-A23688389B7A</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>danielecook.com</string>
</dict>
</plist>
